<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Wendyeq Blog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Loading Bootstrap -->
    <link href="/themes/flat/bootstrap/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
      }
    </style>
    <!-- Loading Flat UI -->
    <link href="/themes/flat/css/flat-ui.css" rel="stylesheet">

    <link rel="shortcut icon" href="images/favicon.ico">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target="#nav-collapse-01"></button>
          <div class="nav-collapse collapse" id="nav-collapse-01">
            <ul class="nav">
              <li class="active">
                <a href="/">
                  Home
                </a>
                <ul>
                  <li><a href="#fakelink">Archive</a></li>
                  <li>
                    <a href="#fakelink">Tags</a>
                    <ul>
                      <li><a href="#fakelink">Element One</a></li>
                      <li><a href="#fakelink">Element Two</a></li>
                      <li><a href="#fakelink">Element Three</a></li>
                    </ul> <!-- /Sub menu -->
                  </li>
                  <li><a href="#fakelink">Element Three</a></li>
                </ul> <!-- /Sub menu -->
              </li>
              <li>
                <a href="http://sosimilar.wendyeq.me">
                  Sosimilar
                </a>
              </li>
              <li>
                <a href="https://github.com/wendyeq">
                  Github
                </a>
              </li>
            </ul>
          </div><!--/.nav -->
        </div>
      </div>
    </div><!-- navbar -->

    <div class="container">
      <div class="demo-headline">
        <h1 class="demo-logo">
          Wendyeq
          
        </h1>
      </div> <!-- /demo-headline -->

      <div class="row demo-tiles" id="article-list">
        <div class="span6" id="article-left">
        </div>

        <div class="span6" id="article-right">
        </div> <!-- span -->
      </div><!-- row -->
      <div class="article"></div>
      
    </div> <!-- /container -->

    <footer>
      <div class="container">
        <div class="row">    
          <div class="span12">
          <p class="muted credit">&copy; 2012~2013  Wendyeq</p>
        </div>
        </div>
      </div>
    </footer>
    
    <!-- Load JS here for greater good =============================-->
    <script src="/themes/flat/js/jquery-1.8.3.min.js"></script>
    <script src="/themes/flat/js/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="/themes/flat/js/jquery.ui.touch-punch.min.js"></script>
    <script src="/themes/flat/js/bootstrap.min.js"></script>
    <script src="/themes/flat/js/bootstrap-select.js"></script>
    <script src="/themes/flat/js/bootstrap-switch.js"></script>
    <script src="/themes/flat/js/flatui-checkbox.js"></script>
    <script src="/themes/flat/js/flatui-radio.js"></script>
    <script src="/themes/flat/js/jquery.tagsinput.js"></script>
    <script src="/themes/flat/js/jquery.placeholder.js"></script>
    <script src="/themes/flat/js/jquery.stacktable.js"></script>
    <script src="/themes/flat/js/application.js"></script>
    <script src="/themes/flat/js/api.js"></script>
    
<!--    
    <script>

        //windo.location.pathname will give you path, after http://
        var path = window.location.pathname;
        alert("window.location.pathname : " + path);

        var href = window.location.href;
        alert("window.location.href : " + href);

        var hash = window.location.hash;
        alert("window.location.hash : " + hash);

        $(document).ready(function(){
            //JQuery code for getting current URL
            var URL = $(location).attr('href');
            alert("Current URL Using JQuery : " + URL);
          });

        $(function(){
          showTab();
          $(window).bind('hashchange', function(e){
            showTab();
          });
          $("#tab1_header").click(showTab1);
          $("#tab2_header").click(showTab2);
        });

        function showTab() {
          if (window.location.hash == "#tab2"){
            showTab2();
          } else {
            showTab1();
          }
        }
        function showTab1() {
          $("#tab2").hide();
          $("#tab1").show();
          window.location.hash = "#tab1";
        };
        function showTab2() {
          $("#tab1").hide();
          $("#tab2").show();
          window.location.hash = "#tab2";
        };
       
    </script>
-->
  </body>
</html>
